body {
  margin: 0;
  overflow: hidden;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

@media (max-width: 325px) {
  body {
    font-size: 90%;
  }
}

@media (max-height: 485px) {
  body {
    font-size: 86%;
  }
}

.app-wrapper {
  margin: 0 auto;
  padding: 0;
  color: #333;
  max-width: 380px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("/assets/images/bookee/background.png");
}